In [1]:
import numpy as np
import pandas as pd

#### Parameters

In [2]:
csv_in = 'df.csv'

min_common_users = 2
csv_out = 'df_corr-min{}.csv'.format(min_common_users)

# To show more rows and columns
pd.options.display.max_rows = 999 
pd.options.display.max_columns = 999

#### Read CSV file

In [3]:
df = pd.read_csv(csv_in, sep=' ', skiprows=0, header=0)
print(df.shape)
display(df.info())
display(df.head())

(20, 15)
<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 1 to 20
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       20 non-null     int64
 1   b       20 non-null     int64
 2   c       20 non-null     int64
 3   d       20 non-null     int64
 4   e       20 non-null     int64
 5   f       20 non-null     int64
 6   g       20 non-null     int64
 7   h       20 non-null     int64
 8   i       20 non-null     int64
 9   j       20 non-null     int64
 10  k       20 non-null     int64
 11  l       20 non-null     int64
 12  m       20 non-null     int64
 13  n       20 non-null     int64
 14  o       20 non-null     int64
dtypes: int64(15)
memory usage: 2.5 KB

None

   a  b  c  d  e  f  g  h  i  j  k  l  m  n  o
1  0  3  3  0  1  4  4  0  1  0  4  0  5  1  1
2  0  0  0  0  0  2  0  0  0  0  5  0  0  0  0
3  3  0  0  0  0  0  0  0  0  1  0  0  0  0  0
4  0  0  0  0  0  2  0  0  5  0  0  0  0  2  0
5  0  1  0  0  0  0  0  1  0  0  0  0  0  2  5

In [4]:
df = df.replace(0, np.nan)
display(df.head())

     a    b    c   d    e    f    g    h    i    j    k   l    m    n    o
1  NaN  3.0  3.0 NaN  1.0  4.0  4.0  NaN  1.0  NaN  4.0 NaN  5.0  1.0  1.0
2  NaN  NaN  NaN NaN  NaN  2.0  NaN  NaN  NaN  NaN  5.0 NaN  NaN  NaN  NaN
3  3.0  NaN  NaN NaN  NaN  NaN  NaN  NaN  NaN  1.0  NaN NaN  NaN  NaN  NaN
4  NaN  NaN  NaN NaN  NaN  2.0  NaN  NaN  5.0  NaN  NaN NaN  NaN  2.0  NaN
5  NaN  1.0  NaN NaN  NaN  NaN  NaN  1.0  NaN  NaN  NaN NaN  NaN  2.0  5.0

In [5]:
df_corr = df.corr(min_periods=min_common_users)
display(df_corr.head())

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o
a,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN
b,NaN,1.000000,-0.188982,NaN,NaN,-0.928571,-0.142857,-0.5,0.5,NaN,-0.866025,-0.928571,1.0,0.327327,-0.944911
c,NaN,-0.188982,1.000000,NaN,NaN,0.406181,-1.000000,NaN,1.0,NaN,0.866025,NaN,-1.0,NaN,NaN
d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
e,NaN,NaN,NaN,NaN,1.0,-0.301511,1.000000,1.0,NaN,NaN,0.689701,NaN,-1.0,NaN,0.277350

In [6]:
df_corr.to_csv(csv_out, index=False)

In [7]:
csv_in = 'df_corr-min2.csv'
# min number of common items between target user's evaluation and items in DB
min_common_items = 2

# To show more rows and columns
pd.options.display.max_rows = 999 
pd.options.display.max_columns = 999

In [8]:
df_corr

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o
a,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN
b,NaN,1.000000,-0.188982,NaN,NaN,-0.928571,-0.142857,-0.5,0.500000,NaN,-0.866025,-0.928571,1.000000,0.327327,-0.944911
c,NaN,-0.188982,1.000000,NaN,NaN,0.406181,-1.000000,NaN,1.000000,NaN,0.866025,NaN,-1.000000,NaN,NaN
d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
e,NaN,NaN,NaN,NaN,1.000000,-0.301511,1.000000,1.0,NaN,NaN,0.689701,NaN,-1.000000,NaN,0.277350
f,NaN,-0.928571,0.406181,NaN,-0.301511,1.000000,-0.944911,-1.0,-0.852013,NaN,0.349948,-1.000000,-1.000000,-0.500000,-0.565916
g,NaN,-0.142857,-1.000000,NaN,1.000000,-0.944911,1.000000,NaN,-0.928571,NaN,0.755929,1.000000,1.000000,-0.785714,NaN
h,NaN,-0.500000,NaN,NaN,1.000000,-1.000000,NaN,1.0,NaN,NaN,1.000000,NaN,NaN,-1.000000,-1.000000
i,NaN,0.500000,1.000000,NaN,NaN,-0.852013,-0.928571,NaN,1.000000,NaN,-1.000000,-0.277350,-1.000000,0.720577,1.000000
j,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.000000,NaN,NaN,NaN,NaN
k,NaN,-0.866025,0.866025,NaN,0.689701,0.349948,0.755929,1.0,-1.000000,1.0,1.000000,NaN,0.693375,-0.500000,-0.513436
l,NaN,-0.928571,NaN,NaN,NaN,-1.000000,1.000000,NaN,-0.277350,NaN,NaN,1.000000,NaN,NaN,NaN
m,NaN,1.000000,-1.000000,NaN,-1.000000,-1.000000,1.000000,NaN,-1.000000,NaN,0.693375,NaN,1.000000,-1.000000,NaN
n,NaN,0.327327,NaN,NaN,NaN,-0.500000,-0.785714,-1.0,0.720577,NaN,-0.500000,NaN,-1.000000,1.000000,0.693375
o,NaN,-0.944911,NaN,NaN,0.277350,-0.565916,NaN,-1.0,1.000000,NaN,-0.513436,NaN,NaN,0.693375,1.000000

In [9]:
df = pd.read_csv(csv_in, sep=',', skiprows=0, header=0)
df.index = df.columns
print(df.shape)
print(df.info())
display(df.head())

(15, 15)
<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, a to o
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      float64
 1   b       11 non-null     float64
 2   c       7 non-null      float64
 3   d       0 non-null      float64
 4   e       7 non-null      float64
 5   f       12 non-null     float64
 6   g       10 non-null     float64
 7   h       7 non-null      float64
 8   i       10 non-null     float64
 9   j       3 non-null      float64
 10  k       12 non-null     float64
 11  l       5 non-null      float64
 12  m       9 non-null      float64
 13  n       9 non-null      float64
 14  o       8 non-null      float64
dtypes: float64(15)
memory usage: 2.4+ KB
None

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o
a,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN
b,NaN,1.000000,-0.188982,NaN,NaN,-0.928571,-0.142857,-0.5,0.5,NaN,-0.866025,-0.928571,1.0,0.327327,-0.944911
c,NaN,-0.188982,1.000000,NaN,NaN,0.406181,-1.000000,NaN,1.0,NaN,0.866025,NaN,-1.0,NaN,NaN
d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
e,NaN,NaN,NaN,NaN,1.0,-0.301511,1.000000,1.0,NaN,NaN,0.689701,NaN,-1.0,NaN,0.277350

In [10]:
def predict_scores(df_sim, ser_target):
    ret = {}
    for item1 in df_sim.index:  # not yet rated by the target user
        v1 = df_sim.loc[item1]
        #if v1.isnull().sum() > 0:  # debug
        #    print('v1:',v1)  # debug
        if v1.notnull().sum() < min_common_items: continue
        v11 = v1[ v1.notnull() ]
        t11 = ser_target[ v1.notnull() ]
        pred1 = (v11 * t11).sum() / np.abs(v11).sum()
        #print('v11:',v11)  # debug
        #print('t11:',t11)  # debug
        #print('pred1:',pred1)  # debug
        ret[item1] = pred1
    
    ser_ret = pd.Series(ret)
    
    return ser_ret.sort_values(ascending=False)

In [11]:
df

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o
a,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN
b,NaN,1.000000,-0.188982,NaN,NaN,-0.928571,-0.142857,-0.5,0.500000,NaN,-0.866025,-0.928571,1.000000,0.327327,-0.944911
c,NaN,-0.188982,1.000000,NaN,NaN,0.406181,-1.000000,NaN,1.000000,NaN,0.866025,NaN,-1.000000,NaN,NaN
d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
e,NaN,NaN,NaN,NaN,1.000000,-0.301511,1.000000,1.0,NaN,NaN,0.689701,NaN,-1.000000,NaN,0.277350
f,NaN,-0.928571,0.406181,NaN,-0.301511,1.000000,-0.944911,-1.0,-0.852013,NaN,0.349948,-1.000000,-1.000000,-0.500000,-0.565916
g,NaN,-0.142857,-1.000000,NaN,1.000000,-0.944911,1.000000,NaN,-0.928571,NaN,0.755929,1.000000,1.000000,-0.785714,NaN
h,NaN,-0.500000,NaN,NaN,1.000000,-1.000000,NaN,1.0,NaN,NaN,1.000000,NaN,NaN,-1.000000,-1.000000
i,NaN,0.500000,1.000000,NaN,NaN,-0.852013,-0.928571,NaN,1.000000,NaN,-1.000000,-0.277350,-1.000000,0.720577,1.000000
j,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.000000,NaN,NaN,NaN,NaN
k,NaN,-0.866025,0.866025,NaN,0.689701,0.349948,0.755929,1.0,-1.000000,1.0,1.000000,NaN,0.693375,-0.500000,-0.513436
l,NaN,-0.928571,NaN,NaN,NaN,-1.000000,1.000000,NaN,-0.277350,NaN,NaN,1.000000,NaN,NaN,NaN
m,NaN,1.000000,-1.000000,NaN,-1.000000,-1.000000,1.000000,NaN,-1.000000,NaN,0.693375,NaN,1.000000,-1.000000,NaN
n,NaN,0.327327,NaN,NaN,NaN,-0.500000,-0.785714,-1.0,0.720577,NaN,-0.500000,NaN,-1.000000,1.000000,0.693375
o,NaN,-0.944911,NaN,NaN,0.277350,-0.565916,NaN,-1.0,1.000000,NaN,-0.513436,NaN,NaN,0.693375,1.000000

In [12]:
def get_recomm_by_item_sim(df, target_dic):
    ser_target = pd.Series(target_dic)
    # make dataframe with columns included in target_dic
    df_scores = df[ ser_target.index ]
    #display(df_scores)  # debug
    # drop rows included in target_dic (already rated)
    df_scores = df_scores.drop(index=ser_target.index)
    #display(df_scores.head())  # debug
    recomm = predict_scores(df_scores, ser_target)
    
    return recomm

In [13]:
recomm = get_recomm_by_item_sim(df,
                                {'a':1, 'c':1, 'd':3,
                                 'f':4, 'g':4})
print('Number of items calculated:', len(recomm))
print('Recommendation:')
print(recomm.head())

Number of items calculated: 7
Recommendation:
k    2.682452
e    2.146700
l    0.000000
m   -0.333333
i   -2.201817
dtype: float64